.bg-gray {
    background-color: rgb(55, 55, 56);
}

.styled-white {
    border-color: white;
    color: white;
    background-color: #212529
}

.border-white {
    border: solid;
    border-color: white;
}